<div class="min-h-screen flex items-center justify-center bg-blue-900">
  <div class="bg-white p-8 rounded-xl shadow-xl w-full max-w-md">
    <div class="flex flex-col items-center mb-6">
      <img src="assets/logoPayPoBot.png" alt="PayPoBot Logo" class="w-24 h-24 mb-4" />
      <h1 class="text-3xl font-bold text-gray-900">PayPoBot</h1>
      <p class="text-lg font-semibold text-gray-500">¡Bienvenido!</p>
      <h2 class="text-xl font-bold mt-4 text-center">Iniciar Sesión</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700 mb-2">Correo Electrónico</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600"
        />
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-red-500 text-sm mt-1">
          El correo electrónico es obligatorio y debe ser válido.
        </div>
      </div>

      <div class="mb-6">
        <label for="password" class="block text-sm font-medium text-gray-700 mb-2">Contraseña</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600"
        />
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-red-500 text-sm mt-1">
          La contraseña es obligatoria.
        </div>
      </div>

      <button
        type="submit"
        class="w-full bg-blue-600 text-white p-3 rounded-lg font-semibold hover:bg-blue-700 transition"
      >
        Ingresar
      </button>

      <div class="p-register flex flex-col justify-center items-center mt-4">
        <p class="text-blue-900 hover:text-blue-500">
          ¿No tienes cuenta? <a href="/register" class="underline">Regístrate aquí</a>
        </p>
      </div>
    </form>
  </div>
</div>
