<div class="flex justify-center items-center min-h-screen colorbg">
  <div class="min-h-screen w-full flex items-center justify-center">
    <div class="bg-white py-8 rounded-lg shadow-lg w-full max-w-sm text-center px-12">
      <h1 class="text-5xl italic mb-2 mx-auto">PayPoBot</h1>
      <img src="../assets/logoPaypoBot.svg" alt="PayPoBot Logo" class="mx-auto mb-4" />
      <h2 class="text-2xl mb-2">¡Bienvenido!</h2>
      <h2 class="text-xl mb-6">Iniciar Sesión</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <input
            type="email"
            formControlName="email"
            placeholder="Email"
            class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none"
          />
          <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-red-500 text-sm mt-1">
            El correo electrónico es obligatorio y debe ser válido.
          </div>
        </div>

        <div class="mb-6">
          <input
            type="password"
            formControlName="password"
            placeholder="Contraseña"
            class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none"
          />
          <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-red-500 text-sm mt-1">
            La contraseña es obligatoria.
          </div>
        </div>

        <button
          type="submit"
          class="boton1 w-full colorbg text-white p-3 rounded-lg font-semibold transition"
        >
          Ingresar
        </button>
      </form>

      <div class="mt-4 text-gray-600">
        <p>¿No tienes una cuenta? <a href="/register" class="register">Regístrate aquí!</a></p>
      </div>
    </div>
  </div>
</div>
